<h1>Animal Shelter Volunteer Form</h1>
<form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()" novalidate>
<form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()" novalidate>
  <h2>Personal Information</h2>
	<div>
		<label>Full Name:</label>
    <input formControlName="name" type="text"  class="form-control" placeholder="required">
    <span *ngIf="volunteerForm.controls['name'].touched && volunteerForm.controls['name'].errors?.required">Name Is Required</span>
    <span *ngIf="volunteerForm.controls['name'].touched && volunteerForm.controls['name'].errors?.required">Name Is Required</span>
    
	</div>
	<div>
    <label>Age:</label>
    <input type="number" formControlName="age" class="form-control" placeholder="required" min="15" max="99">
    <span *ngIf="volunteerForm.controls['age'].touched && volunteerForm.controls['age'].errors?.required">Age Is Required</span>

  </div>
	<div formControlName="gender">
    Gender
    <div>Male
      <input type="radio">
    </div>
    <div>Female
      <input type="radio">
    </div>
    <div>Others
      <input type="radio">
    </div>
  </div>
  <div formControlName="school">Select School:</div>
  <select>
    <option *ngFor="let loc of locations" [ngValue]="loc" class="form-control">{{loc}}</option>
  </select>

    <div >
	<label>Email:</label>
      <input formControlName="email" required email type="text" placeholder="optional" class="form-control">
      <span *ngIf="volunteerForm.controls['email'].touched && volunteerForm.controls['email'].errors?.required">Email is required.</span>
      <span *ngIf="volunteerForm.controls['email'].touched && volunteerForm.controls['email'].errors?.email">Invalid email address.</span>
    </div>
	<div >
	<label>Password:</label>
      <input formControlName="password" type="password" class="form-control">
      <span *ngIf="volunteerForm.controls['password'].touched && volunteerForm.controls['password'].errors?.required">Password Is Required</span>
      <span *ngIf="volunteerForm.controls['password'].touched && volunteerForm.controls['password'].errors?.minlength">Password at least 6</span>
      <span *ngIf="volunteerForm.controls['password'].touched && volunteerForm.controls['password'].errors?.maxlength">Password must be 20</span>
    </div>
    <div formControlName="termsPrivacy">
      <input type="checkbox">
  <label>Terms & Privacy</label>
    </div>  
    <p>
    <input type="submit"
     type="submit" class="btn btn-primary">
    </p>
</form>
